<html>
<head>
    <style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>
</head>
<body>
<h1>Welcome, {{ username }}</h1>



<div>
    {% if public_flights %}
        <p>Public flights:</p>
        <form action="/psearch/shome.html" method="post" style="margin:0px">
            <input type="text" name="psearchf" placeholder="Search flights"/>
            <input type="submit" value="Search"/>
            {% if err %}
                <p style="color:red">Please enter something to search for!</p>
            {% else %}
            {% endif %}
        </form>
        <br>
        <table style="text-align:left">

            <th style>Airline</th>
            <th>Flight Number</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Flight Status</th>
            {% for elem in public_flights %}
                <tr>
                    {% for data in elem %}
                        <td> {{ data }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}


        </table>
    {% else %}
        <p>There are currently no public flights to display</p>
    {% endif %}

</div>

<br>
<a href="/create_new_flight">Create New Flight</a><br>
<br>
<a href="/change_status_of_flight">Change Status of Flight</a><br>
<br>
<a href="/add_airplane">Add Airplane</a><br>
<br>
<a href="/add_airport">Add Airport</a><br>
<br>
<a href="/view_report">View Report</a><br>
<br>
<a href="/view_frequent_customers">View Frequent Customers</a><br>
<br>
<a href="/view_revenue">View Earned Revenue</a><br>
<br>
<a href="/view_ratings">View Ratings of Flight</a><br>
<br>
<a href="/view_top_des">View Top 3 Destinations</a><br>
<br>
<a href="/logout">Logout</a>

</body>


</html>
