<html>
<head>
</head>
<body>
<form action="/sloginAuth" method="POST">
	<input type="text" name = "susername" placeholder="Username" required/> </br>
	<input type="password" name = "spassword" placeholder="Password" required/></br>
	<input type="submit" value = "Login" />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="{{ url_for('registerRedirect', acc_type='staff') }}">Staff registration</a><br>

<a href="/">Go back</a>

</body>


</html>
